.hero{
  background-image: url('../../images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.hero .container{
  padding-top: 15%;
}

form{
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0 20px;
}

form input{
  padding: 10px;
  width: 100% ;
  border: 1px solid rgb(128,128,128,0.2);
  margin-top: 5px;
  border-radius: 5px;
}

form span{
  font-size: 14px;
  color:grey;
}

input::placeholder{
  color: black;
  font-size: 17px;
}
form .box{
  padding: 15px;
  border: 1px solid rgb(128,128,128,0.2);
}
form .box:nth-child(1){
  border-left: none;
}

form h4{
  font-weight: 500;
}