.box .location{
    position: relative;
    border-radius: 5px;
}
.location img{
    border-radius: 5px;
}
.location .overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 100%;
    color: #fff;
    z-index: 2222;
}