/* Import poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}
.container{
  max-width: 80%;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}
ul{
  list-style: none;
}
button{
  border-radius: 5px;
  border: none;
  padding: 17px 30px;
  background-color: rgb(82, 219, 112);
  color: #fff;
  cursor: pointer;
  font-weight:bold;
}
button i{
  margin-right: 5px;
}

.heading{
  text-align: center;
  width: 60%;
  margin: auto;
}
.heading h1{
  color: #2f3954;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
}
.heading p{
  color: #72809d;
}
textarea, input{
  border: none;
  outline: none;
  background-color: none;
}
.background{
  padding: 80px 0;
  position: relative;
  background-color: #f7f9fc;
}
.grid5{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 30px;
}
label{
  color: #2f3954;
  font-size: 14px;
}
.mtop{
  margin-top: 50px;
}
h4{
  font-weight: 500;
  margin-top: 10px;
}

.shadow{
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}
.padding{
  padding: 80px 0;
}
.grid3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}

img{
  width: 100%;
  height: 100%;
}
.btn2{
  border-radius: 50px;
}