/* Import poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}
.container{
  max-width: 80%;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}
ul{
  list-style: none;
}
button{
  border-radius: 5px;
  border: none;
  padding: 17px 30px;
  background-color: rgb(82, 219, 112);
  color: #fff;
  cursor: pointer;
  font-weight:bold;
}
button i{
  margin-right: 5px;
}

.heading{
  text-align: center;
  width: 60%;
  margin: auto;
}
.heading h1{
  color: #2f3954;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
}
.heading p{
  color: #72809d;
}
textarea, input{
  border: none;
  outline: none;
  background-color: none;
}
.background{
  padding: 80px 0;
  position: relative;
  background-color: #f7f9fc;
}
.grid5{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 30px;
}
.grid4{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}
label{
  color: #2f3954;
  font-size: 14px;
}
.mtop{
  margin-top: 50px;
}
h4{
  font-weight: 500;
  margin-top: 10px;
}

.shadow{
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}
.padding{
  padding: 80px 0;
}
.grid3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}

img{
  width: 100%;
  height: 100%;
}
.btn2{
  border-radius: 50px;
}
.btn5{
  border-radius: 50px;
  padding: 20px 40px;
  color: #27ae60;
  font-size: 20px;
  font-weight: 400;
  border: 5px solid #27ae601f;
  background: #fff;
}
.back{
  height: 40vh;
  position: relative;
}
.back img{
  height: 40vh;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
.back::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 40vh;
  background: rgba(17,40,72, 0.629 );
  z-index: -1;
}
.back .container{
  color: #fff;
  padding: 120px 0;

}
.back h1{
  font-size: 40px;
  font-weight: 500;

}
.mb{
  margin-bottom: 80px;
}
.about .heading{
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}
.about p{
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}
@media screen and (max-width:768px){
  .about .container{
    flex-direction: column;
  }
  .about p{
    padding: 0;
  }
  .about .container img{
    margin-top: 50px;
  }
}